.qodo
LICENSE
.env
.env.*
.venv
app.py_

my-experiment

.github/workflows/deploy.yml_
.github/workflows/de.yml_
.github/workflows/tes.yml
.github/workflows/coba.yml
.github/workflows/*

Dockerrun.aws.json

modul2.yaml

LICENSE